body {
    background-color: rgb(65, 59, 59);
    font-family:  "Roboto Slab", "consolas";
    margin: 0px;
}

h1 {
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    background-color: #CC6677;
    padding: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;

    /*
    border-style: ridge;
    border-width: 5px;
    border-color: #DDCC77;
    border-radius: 10px;
    padding: 2px;
    */
}

h2 {
    text-align: center;
    color: #DDCC77;
}
h3 {
    text-align: center;
    color: #DDCC77;
}
h6 {
    text-align: center;
    color: #DDCC77;
}

caption {
    color: #DDCC77;
}


/* LINE GRAPH */

#total {
    --color: #CC6677;
    color: #DDCC77;
}

#total-emissions.line {
    height: 550px;
    max-width: 1100px;
    margin: 0 auto;
    --labels-size: 2rem;
}

#figure-1-legend {
    display: flex;
    align-items: center;
    justify-content: center 
}

#figure-1-legend.legend {
    color: #DDCC77;
}

/* !!! changes colors of the boxes in legend !!! */
#figure-1-legend.legend li:nth-of-type(1)::before {
    background-color: #CC6677;
}
#figure-1-legend.legend li:nth-of-type(2)::before {
    background-color: #44AA99;
}
#figure-1-legend.legend li:nth-of-type(3)::before {
    background-color: #AA4499;
}
#figure-1-legend.legend li:nth-of-type(4)::before {
    background-color: #882255;
}
#figure-1-legend.legend li:nth-of-type(5)::before {
    background-color: #88CCEE;
}
#figure-1-legend.legend li:nth-of-type(6)::before {
    background-color: #117733;
}


/* PIE CHART */

#pie-2020 {
    display: flex;
    align-items: center;
    justify-content: center;
}
#inside-pie-2020 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pieContainer {
    height: 500px;
    position: relative;
  }
  
  .pieBackground {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  } 
  
  .pie {
    transition: all 1s;
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    clip: rect(0px, 250px, 500px, 0px);
  }
  
  .hold {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    clip: rect(0px, 500px, 500px, 250px);
  }
  
  #pieSlice1 .pie {
    background-color: #44AA99;
    transform:rotate(19deg);
  }
  
  #pieSlice2 {
    transform:rotate(19deg);
  }
  
  #pieSlice2 .pie {
    background-color: #AA4499;
    transform: rotate(17deg);
  }
  
  #pieSlice3 {
    transform: rotate(36deg);
  }
  
  #pieSlice3 .pie {
    background-color: #117733;
    transform: rotate(152deg);
  }
  
  #pieSlice4 {
    transform: rotate(188deg);
  }
  
  #pieSlice4 .pie {
    background-color: #88CCEE;
    transform: rotate(102deg);
  }
  
  #pieSlice5 {
    transform: rotate(290deg);
  }
  
  #pieSlice5 .pie {
    background-color: #882255;
    transform: rotate(70deg);
  }

  
  .innerCircle {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #444;
    border-radius: 100%; 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5) inset;
    color: white;
  }
  .innerCircle .content {
    position: absolute;
    display: block;
    width: 250px;
    top: 75px;
    left: 0;
    text-align: center;
    font-size: 20px;
}


/* BAR PERCENTAGE GRAPH */

  #stacked-example-4 {
    color: #DDCC77;
    height: 600px;
    max-width: 750px;
    margin: 0 auto;
    --heading-size: 2.5rem;
    --color-1: #332288;
    --color-2: #117733;
    --color-3: #44AA99;
  }
  #stacked-example-4 caption {
    font-weight: bold;
  }
