body {
    background-color: rgb(65, 59, 59);
    font-family:  "Roboto Slab", "consolas";
    margin: 0px;
}

h1 {
    margin-right: auto;
    margin-left: auto;

    text-align: center;

    background-color: #CC6677;
    padding: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;

    /*
    border-style: ridge;
    border-width: 5px;
    border-color: #DDCC77;
    border-radius: 10px;
    padding: 2px;
    */
}

h2 {
    text-align: center;
    color: #DDCC77;
}
h3 {
    text-align: center;
    color: #DDCC77;
}

caption {
    color: #DDCC77;
}

#total {
    --color: #CC6677;
}

#total-emissions.line {
    height: 550px;
    max-width: 1100px;
    margin: 0 auto;
    --labels-size: 2rem;
}
